<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CS Salon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../../Content/css/styles.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" id="head-row">
        <div class="col-md-4" id="nav">
          <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Stylists</a></li>
            <li role="presentation"><a href="#">Clients</a></li>
          </ul>
        </div><!-- /nav -->
        <div class="col-md-4" id="stylist-search">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Search</button>
            </span>
            <input type="text" class="form-control" name="stylist-search" placeholder="Search stylists...">
          </div><!-- /input-group -->
        </div><!-- /stylist-search -->
        <div class="col-md-4" id="client-search">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Search</button>
            </span>
            <input type="text" class="form-control" name="client-search" placeholder="Search clients...">
          </div><!-- /input-group -->
        </div><!-- /client-search -->
      </div><!-- /head-row -->
      <div class="page-header">
        <h1>CS Salon</h1>
      </div><!-- /page-header -->
      @RenderBody()
      <div class="gray-line"></div><!-- /gray-line -->
  </div><!-- /container-fluid -->
  </body>
</html>
