<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CS Salon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../../Content/css/styles.css">
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" id="head-row">
        <div class="col-md-4" id="nav">
          <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/stylists">Stylists</a></li>
            <li role="presentation"><a href="/clients">Clients</a></li>
          </ul>
        </div><!-- /nav -->
        <div class="col-md-4"></div><!--spacer-column-->
        <div class="col-md-4" id="search">
          <form method="get">
            <div class="input-group">
              <input type="text" class="form-control" name="search-input" placeholder="Search...">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search By <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><input type="submit" class="not-button" formaction="/stylists/search/name" value="Stylist Name" /></li>
                  <li><input type="submit" class="not-button" formaction="/stylists/search/phone_number" value="Stylist Phone" /></li>
                  <li role="separator" class="divider"></li>
                  <li><input type="submit" class="not-button" formaction="/clients/search/name" value="Client Name" /></li>
                  <li><input type="submit" class="not-button" formaction="/clients/search/phone_number" value="Client Phone" /></li>
                </ul>
              </div><!-- /btn-group -->
            </div><!-- /input-group -->
          </form>
        </div>
      </div><!-- /head-row -->
      <div class="page-header">
        <h1>CS Salon</h1>
      </div><!-- /page-header -->
      @RenderBody()
      <div class="gray-line"></div><!-- /gray-line -->
  </div><!-- /container-fluid -->
  </body>
</html>
