@{
  Layout = "Shared/_Layout.cshtml";
}
<h3>ALL CLIENTS</h3>
@if (Model.Count != 0)
{
  @foreach (var client in Model)
  {
    @{ var stylist = client.GetStylist(); }
    <br>
    <h4>@client.GetName()</h4>
    <h5>Phone Number: @client.GetPhoneNumber()</h5>
    <h5>Stylist: <a href="/stylists/@stylist.GetId()">@stylist.GetName()</a></h5>
    <p><small><a href="/clients/@client.GetId()">Visit Client Page</a></small></p>

  }
}
else
{
  <br>
  <p>There are no clients to display.</p>
}
<br>
<a href="/clients/new" class="btn btn-default btn-md" role="button">Add New</a>
<form class="form-inline" action="/clients/clear" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button class="btn btn-default btn-md">Delete All</button>
</form>
