@{
  Layout = "Shared/_Layout.cshtml";
  var stylist = Model.GetStylist();
}
<h3>CLIENT:</h3>
<br>
<h4>@Model.GetName()</h4>
<p>Phone Number: @Model.GetPhoneNumber()</p>
<h5>Stylist: <a href="/stylists/@stylist.GetId()">@stylist.GetName()</a></h5>
<br>
<a href="/clients/@Model.GetId()/update" class="btn btn-default btn-md" role="button">Edit</a>
<form class="form-inline" action="/clients" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="hidden" name="client-id" value="@Model.GetId()">
  <button class="btn btn-default btn-md">Delete</button>
</form>
