@{
  Layout = "Shared/_Layout.cshtml";
}
<p>Welcome to the management database for CS Salon!</p>
<h3>INSTRUCTIONS</h3>
<br>
<ul>
  <li>A list of stylists or clients can be found by clicking their respective links at the top of the page.</li>
  <br>
  <li>To add a new stylist or client, visit the "Stylists" or "Clients" page and click <span class="faux-btn">Add New</span> at the bottom of the page.</li>
  <br>
  <li>To remove a stylist or client from the list, visit their individual page and click <span class="faux-btn">Delete</span>.</li>
  <br>
  <li>Both stylists and clients can be searched (by name or phone number) from the search bar at the top right.</li>
</ul>
