@{
  Layout = "Shared/_Layout.cshtml";
  var clientList = Model.GetClients();
}
<h3>STYLIST:</h3>
<br>
<h4>@Model.GetName()</h4>
<p>Phone Number: @Model.GetPhoneNumber()</p>
<h5>Clients:</h5>
@if(clientList.Count != 0)
{
    @foreach(var client in clientList)
    {
      <p><a href="/clients/@client.GetId()">@client.GetName()</a></p>
    }
}
else
{
<p>
  There are no clients to display.
</p>
}
<a href="/stylists/@Model.GetId()/update" class="btn btn-default btn-md" role="button">Edit</a>
<form class="form-inline" action="/stylists" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="hidden" name="stylist-id" value="@Model.GetId()">
  <button class="btn btn-default btn-md">Delete</button>
</form>
